/* Start Global Rules  */
:root {
  --main-color: #2196f3;
  --alt-color: #1787e0;
  --background-color: #ececec;
  --main-transition: 0.3s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small  */
@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Special Heading */
.heading {
  font-size: 30px;
  text-transform: uppercase;
  border: 2px solid #000;
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto 80px;
  position: relative;
  z-index: 10;
}
.heading:hover {
  color: white;
  border: 2px solid #fff;
  transition-delay: calc(var(--main-transition) + var(--main-transition));
}
.heading::before,
.heading::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translate(0, -50%);
  z-index: -1;
}
.heading::before {
  left: -30px;
}
.heading::after {
  right: -30px;
}
.heading:hover::before,
.heading:hover::after {
  height: 100%;
  width: 50%;
  border-radius: 0;
  transition: all var(--main-transition) var(--main-transition),
    left var(--main-transition), right var(--main-transition);
}
.heading:hover::before {
  left: 0;
}
.heading:hover::after {
  right: 0;
}
/* End Special Heading */
/* Start Grid-3 */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
/* End Grid-3 */
/* Main padding */
.main-p {
  padding: 100px 0;
}
/* Dots */
.dots-up {
  position: absolute;
  right: 0;
  top: 170px;
}
.dots-down {
  position: absolute;
  left: 0;
  bottom: 170px;
}
@media (max-width:1200px) {
  .dots-up,
  .dots-down{
    display: none;
  }
}
/* End Global Rules  */
/* Start Header  */
.header {
  background-color: #fff;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header .container > a {
  font-size: 27px;
  font-weight: 900;
  text-decoration: none;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
}
@media (max-width: 767px) {
  .header .container > a {
    width: 100%;
    height: 50px;
  }
}
.header .container .main-menu {
  display: flex;
}
@media (max-width: 767px) {
  .header .container .main-menu {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.header .container .main-menu > li > a {
  display: flex;
  height: 72px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .container .main-menu > li > a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .container .main-menu > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  left: -100%;
  transition: 0.3s;
}
.header .container .main-menu > li > a:hover {
  background-color: #f8f8f8;
  color: var(--main-color);
}
.header .container .main-menu > li > a:hover::before {
  left: 0;
}
.header .container .main-menu .mega-menu {
  width: 100%;
  display: flex;
  position: absolute;
  padding: 40px 20px;
  top: calc(100% + 30px);
  left: 0;
  justify-content: space-between;
  background-color: #fff;
  z-index: -1;
  transition: opacity 0.1s;
  transition: top 0.3s;
  opacity: 0;
}
@media (max-width: 767px) {
  .header .container .main-menu .mega-menu {
    padding: 0px 20px;
  }
}
.header .container .mega-menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  left: 0;
  background-color: var(--main-color);
}
.header .container .mega-menu img {
  width: 450px;
}
@media (max-width: 1200px) {
  .header .container .mega-menu img {
    min-width: 400px;
    max-width: 400px;
  }
}
@media (max-width: 991px) {
  .header .container .mega-menu img {
    display: none;
  }
}
.header .container .mega-menu .menus {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .header .container .mega-menu .menus {
    flex-basis: 100%;
  }
}
@media (max-width: 767px) {
  .header .container .mega-menu .menus {
    flex-direction: column;
  }
}
.header .container .mega-menu .menus ul {
  flex-basis: 48%;
}
.header .container .mega-menu .menus ul li {
  position: relative;
  overflow: hidden;
}
.header .container .mega-menu .menus a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  padding: 17px 50px;
  display: block;
  position: relative;
}
@media (max-width: 767px) {
  .header .container .mega-menu .menus a {
    padding: 14px 50px;
  }
}
.header .container .mega-menu .menus a i {
  position: absolute;
  left: 12px;
  font-size: 14px;
  top: 50%;
  transform: translate(0, -50%);
}
.header .container .mega-menu .menus li:not(:last-child) a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e9e9e9;
  bottom: 0;
  left: 0;
}
@media (max-width: 767px) {
  .header .container .mega-menu .menus ul:first-child li:last-child a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #e9e9e9;
    bottom: 0;
    left: 0;
  }
}
.header .container .main-menu li:last-child:hover .mega-menu {
  opacity: 1;
  top: calc(100% + 1px);
  z-index: 2;
}
.header .container .mega-menu .menus li::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  transition: var(--main-transition);
}
.header .container .mega-menu .menus li:hover::after {
  left: 0;
}
/* End Header  */
/* Start Landing */
.landing {
  height: calc(100vh - 72px);
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .landing {
    height: calc(100vh - 90px);
  }
}
.landing::before {
  content: "";
  background-color: var(--background-color);
  width: 120%;
  height: 100%;
  top: -15%;
  position: absolute;
  z-index: -1;
  transform: skewy(-5deg);
}
.landing .container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.landing .container .text {
  flex-basis: 40%;
  transform: translate(0px, -50px);
}
@media (max-width: 991px) {
  .landing .container .text {
    flex-basis: 100%;
    text-align: center;
  }
}
.landing .container .text h2 {
  font-size: 37px;
  margin-bottom: 10px;
}
.landing .container .text p {
  color: #777;
  font-size: 25px;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .landing .container .text h2 {
    font-size: 27px;
  }
  .landing .container .text p {
    font-size: 15px;
  }
}
.landing .container img {
  width: 350px;
  flex-basis: 55%;
  transform: translate(0px, -100px);
  animation: image-motion 2s linear 0s infinite alternate;
}
@media (max-width: 991px) {
  .landing .container img {
    display: none;
  }
}
@keyframes image-motion {
  100% {
    transform: translate(0px, -50px);
  }
}
.landing a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
.landing a i {
  font-size: 30px;
  font-weight: 800;
  color: var(--main-color);
  animation: angles-down 1.7s linear 0s infinite;
}
@keyframes angles-down {
  10% {
    transform: translate(0, -15px);
  }
  20% {
    transform: translate(0, 0px);
  }
  30% {
    transform: translate(0, -15px);
  }
  40% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
/* End Landing */
/* Start Articles */

.articles .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .box-container .box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 15px #dcdada;
  border-radius: 7px;
  transition: var(--main-transition);
}
.articles .box-container .box:hover {
  transform: translateY(-10px);
}
.articles .box-container .box:hover .buttom-box i {
  animation: arrow 0.7s normal 0s infinite;
}
@keyframes arrow {
  100% {
    transform: translateX(10px);
  }
}
.articles .box-container .box img {
  flex-basis: 30%;
  max-width: 100%;
}
.articles .box-container .box h3 {
  padding: 20px 20px 10px;
}
.articles .box-container .box p {
  padding: 0 20px 15px;
  line-height: 1.6;
  color: #777;
  position: relative;
}
.articles .box-container .box p::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #f0efef;
}
.articles .box-container .buttom-box {
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .box-container .buttom-box a {
  font-weight: bold;
  color: var(--main-color);
  text-decoration: none;
}
.articles .box-container .buttom-box i {
  color: var(--main-color);
}
/* End Articles */
/* Start Gallery */
.gallery {
  background-color: var(--background-color);
}
.gallery .gallery-container {
  overflow: hidden;
}
.gallery .gallery-container .box {
  background-color: white;
  box-shadow: 0 0 10px #c3c1c1;
  overflow: hidden;
  position: relative;
  padding: 15px;
}
.gallery .gallery-container .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .gallery-container .box img {
  width: 100%;
  transition: var(--main-transition);
}
.gallery .gallery-container .box .image::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  background-color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  z-index: 100;
}
.gallery .gallery-container .box .image:hover img {
  transform: scale(1.1) rotate(5deg);
}
.gallery .gallery-container .box .image:hover::before {
  animation: flash-effect 0.2s 1 0.1s;
}
@keyframes flash-effect {
  50% {
    width: 50%;
    height: 50%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
/* End Gallery */
/* Start Features */
.features .container .features-container{
  text-align: center;
}
.features .features-container .box {
  border: 1px solid #bab9b9;
  padding-bottom: 30px;
  overflow: hidden;
}
.features .features-container .box img {
  max-width: 100%;
}
.features .features-container .box .image{
  position: relative;
}
.features .features-container .box .image::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.features .features-container .box:nth-child(1) .image::before {
  background-color: #f44036;
}
.features .features-container .box:nth-child(2) .image::before {
  background-color: #009688;
}
.features .features-container .box:nth-child(3) .image::before {
  background-color: #03a9f4;
}
.features .features-container .box .image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  bottom: -70%;
  left: 0;
  transform: skewY(-20deg);
  transition: var(--main-transition);
}
.features .features-container .box:hover .image::after{
  transform: skewY(20deg) rotate(-90deg);
}
.features .features-container .box .text {
  position: relative;
  z-index: 100;
}
.features .features-container .box h2{
  font-size: 40px;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  padding: 0px 15px 20px;
}
.features .features-container .box h2::after{
  content: "";
  position: absolute;
  width: calc(100% - 50px);
  height: 5px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}
.features .features-container .box:nth-child(1) h2::after{
  background-color: #f44036;
}
.features .features-container .box:nth-child(2) h2::after{
  background-color: #009688;
}
.features .features-container .box:nth-child(3) h2::after{
  background-color: #03a9f4;
}
.features .features-container .box p{
  font-size: 20px;
  padding: 30px 15px 60px;
  color: #777;
  line-height: 1.9;
}
.features .features-container .box a{
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 6px;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  overflow: hidden;
}
.features .features-container .box:nth-child(1) a {
  border: 3px solid #f44036;
  color: #f44036;
}
.features .features-container .box:nth-child(2) a {
  border: 3px solid #009688;
  color: #009688;
}
.features .features-container .box:nth-child(3) a {
  border: 3px solid #03a9f4;
  color: #03a9f4;
}
.features .features-container .box a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  z-index: -1;
  transition: var(--main-transition);
}
.features .features-container .box:nth-child(1) a::after {
  background-color: #f44036;
}
.features .features-container .box:nth-child(2) a::after {
  background-color: #009688;
}
.features .features-container .box:nth-child(3) a::after {
  background-color: #03a9f4;
}
.features .features-container .box:hover a{
  color: white;
}
.features .features-container .box:hover a::after{
  left:0;
}
/* End Features */
/* Start Testimonials */
.fa-solid.fa-star {
  color: #ffc107;
}
.testimonials {
  background-color: var(--background-color);
}
.testimonials .test-container .box{
  background-color: white;
  padding: 20px;
  position: relative;
  border-radius: 10px;
}
.testimonials .test-container .box img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--background-color);
  top: -50px;
  right: 0;
}
.testimonials .test-container .box h4 {
  font-size: 19px;
  margin-bottom: 10px;
}
.testimonials .test-container .box > span {
  display: block;
  margin-bottom: 10px;
  color: #777;
}
.testimonials .test-container .box .starts {
  margin-bottom: 10px;
}
.testimonials .test-container .box p {
  color: #777;
  line-height: 1.6;
}
/* End Testimonials */
/* Start Team container */

.team-members .team-container .box{
  position: relative;
  padding: 70px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}
.team-members .team-container .box::after{
  content: "";
  position: absolute;
  width: 85%;
  height: 95%;
  background-color: #f1f1f1;
  right: 0;
  z-index: -2;
  border-radius: 20px;
}
.team-members .team-container .box::before{
  content: "";
  position: absolute;
  width: 85%;
  height: 95%;
  background-color: #d4d4d4;
  right: -100%;
  z-index: -1;
  border-radius: 20px;
  opacity: 0.3;
  transition: var(--main-transition);
}
.team-members .team-container .box:hover::before{
  right: 0;
}
.team-members .team-container .box:hover img{
  animation: gray-image 0.3s normal 0s 1;
  animation-fill-mode:forwards;
}
.team-members .team-container .box:hover .info h3{
  animation: gray-h3 0.3s normal 0s 1;
  animation-fill-mode:forwards;
}
.team-members .team-container .box img {
  width: 85%;
  border-radius: 20px;
  align-self:flex-start;
}
.team-members .team-container .box .info {
  padding-bottom: 20px;
}
.team-members .team-container .box h3{
  font-size: 22px;
  color: var(--main-color);
  padding: 20px 0 10px;
  animation: gray-h3 0.3s normal 0s 1;
}
@keyframes gray-image {
  100%{
    filter: grayscale(100);
    }
}
@keyframes gray-h3 {
  100%{
    color: #777;
}
}
.team-members .team-container .box .icons{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 15px;
  top: calc(50% + 10px);
  transform: translate(0,-50%);
}
.team-members .team-container .box .icons i{
  flex-basis: 60px;
  color: #777;
}
.team-members .team-container .box .icons i:hover {
  color: var(--main-color);
}
/* End Team container */
/* Start services */
.services {
  background-color: var(--background-color);
}
.services .services-container .box{
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px #c2c2c2;
  transition: var(--main-transition);
  position: relative;
}
.services .services-container .box::before{
  content: "";
  position: absolute;
  top: 0;
  width: 0px;
  height: 3px;
  background-color: var(--main-color);
  left: 50%;
  transform: translate(-50%);
}
.services .services-container .box:hover::before{
  animation: line 0.3s normal 0s 1;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
.services .services-container .box:hover{
  transform: translateY(-10px);
}
@keyframes line {
  100% {
    width: 100%;
  }
}
.services .services-container .box .head{
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services .services-container .box .head i{
  font-size: 60px;
  color: #c8c8c8;
}
.services .services-container .box .head h3{
  padding: 20px;
  font-size: 25px;
  color: var(--main-color);
}
.services .services-container .box .footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-right: 20px;
  background-color: #f9f9f9;
}
.services .services-container .box .footer span{
  width: 100px;
  height: 100%;
  background-color: var(--main-color);
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-left: 25px;
}

.services .services-container .box .footer span::after{
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: #d5d5d5;
  right: -50px;
  transform: skewX(-30deg) translateX(-15px);
}
.services .services-container .box .footer a{
  text-decoration: none;
  color: var(--main-color);
}
/* End services */
/* Start Skills */
.our-skills .skills-container {
  display: flex;
}
@media (max-width: 991px) {
  .our-skills .skills-container img {
    display: none;
  }
}
.our-skills .skills-container .skills {
  flex: 1;
}
.our-skills .skills-container .skill h4{
  margin-top: 15px;
  margin-bottom: 15px;
}
.our-skills .skills-container .skill div{
  height: 30px;
  width: 100%;
  background-color: #eeeeee;
  position: relative;
}
.our-skills .skills-container .skill div::after {
  content: attr(data-p);
  padding: 2px 5px;
  border: 1px solid #777;
  border-radius: 5px;
  position: absolute;
  font-size: 12px;
  right: 0;
  top: -30px;
  font-weight: bold;
  color: var(--main-color);
}
.our-skills .skills-container .skill div span{
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-color);
}
/* End Skills */
/* Start how to work */
.how-work {
  background-color: var(--background-color);
}
.how-work .work-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.how-work .work-container .ha {
 max-width: 100%;
}

.how-work .work-container .info{
  width: 50%;
  position: relative;
}
@media (max-width:991px) {
  .how-work .work-container {
    flex-direction: column;
  }
  .how-work .work-container .ha {
    margin-bottom: 50px;
  }
  .how-work .work-container .info{
    width: 100%;
    
  }
}
.how-work .work-container .info .box{
  display: flex;
  padding: 30px;
  background-color: #f6f5f5;
  margin-bottom: 20px;
  position: relative;
  border: 2px solid white;
  border-radius: 10px;
}

.how-work .work-container .info .box .text{
  position: relative;
  z-index: 10;
}
.how-work .work-container .info .box::before{
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: var(--background-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
  transition: var(--main-transition);
  border-radius: 10px;
}
.how-work .work-container .info .box:hover::before {
  width: 100%;
  height: 100%;
}
.how-work .work-container .info .box .image{
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  width: 70px;
  height: 70px;
}
.how-work .work-container .info .box img{
  flex-basis: 150px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  margin-right: 40px;
}
@media (max-width:767px) {
  .how-work .work-container .info .box{
    flex-direction: column;
    text-align: center;
  }
  .how-work .work-container .info .box .image {
    margin: 0 auto 20px;
  }
}
.how-work .work-container .info .box h3{
  font-size: 22px;
  padding: 10px 0;
}
.how-work .work-container .info .box p{
  font-size: 18px;
  color: #777;
  line-height: 1.6;
}
/* End how to work */
/* Start events */
.events {
  position: relative;
}
.events .events-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.events .events-container > img{
  width: 40%;
}
.events .events-container .info{
  text-align: center;
}
@media (max-width:991px) {
  .events .events-container > img {
    display: none;
  }
}
.events .events-container .info .time{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.events .events-container .info .time .box{
  border: 1px solid #c5c5c5;
  width: 75px;
  margin-left: 10px;
  border-radius: 10px;
}
.events .events-container .info .time .box p{
  font-size: 33px;
  font-weight: bold;
  color: var(--main-color);
  padding: 15px 0px;
}
.events .events-container .info .time .box span{
  display: block;
  padding: 10px;
  position: relative;
  font-size: 14px;
}
.events .events-container .info .time .box span::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #c5c5c5;
  top: 0;
  left: 0;
}
.events .events-container .info > h3 {
  padding: 20px 0;
  font-size: 30px;
}
.events .events-container .info > p {
  font-size: 18px;
  line-height: 1.7;
  color: #777;
}
.events .contact {
  margin-top: 80px;
}
.events .contact form {
  width: fit-content;
  margin: 0 auto;
  background-color: #f1f1f1;
  padding: 30px;
  border-radius: 50px;
  display: flex;
  width: 600px;
}
.events .contact form input[type="email"] {
  border: none;
  border-radius: 40px;
  padding: 20px;
  flex: 1;
}
.events .contact form input[type="email"]:hover,
.events .contact form input[type="email"]:focus {
  outline: none;
}
.events .contact form input[type="submit"] {
  border: none;
  border-radius: 40px;
  padding: 20px;
  background-color: var(--main-color);
  color: white;
  margin-left: 15px;
}
@media (max-width:767px) {
  .events .contact form {
    flex-direction: column;
    border-radius: 0px;
    max-width: 100%;
  }
  .events .contact form input[type="email"] {
    margin-bottom: 10px;
    border-radius: 0px;
  }
  .events .contact form input[type="submit"] {
    margin-left: 0;
    border-radius: 0px;
  }
}
/* End events */
/* Start Pricing */
.pricing {
  background-color: var(--background-color);
  position: relative;
}
.pricing .pricing-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px 0px;
  z-index: 100;
  box-shadow: 0 0 10px #c2c2c2;
  position: relative;
  overflow: hidden;
}
.pricing .pricing-container .box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  background-color: #f1f1f1;
  left: -100%;
  transition: 0.3s;
}
.pricing .pricing-container .box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background-color: #f1f1f1;
  right: -100%;
  transition: 0.3s;
}
.pricing .pricing-container .box:hover:before {
  left: 0;
}
.pricing .pricing-container .box:hover:after {
  right: 0;
  z-index: -10;
}
.pricing .pricing-container .box:nth-child(2){
  transform: translateY(-20px);
}
.pricing .pricing-container .box h3{
 font-size: 30px;
 margin-bottom: 30px;
 z-index: 5;
}
.pricing .pricing-container .box h4{
 position: absolute;
 right: calc(30px - 165px);
 font-size: 20px;
 background-color: var(--main-color);
 color: white;
 padding: 7px 40px 7px 10px;
 position: absolute;
 transform-origin: top left;
 top: 0;
 transform: rotate(90deg);
 z-index: 5;
 overflow: hidden;
}
.pricing .pricing-container .box h4::after{
 content: "";
 position: absolute;
 width: 28px;
 height: 100%;
 background-color: white;
 top: 2px;
 right: 0;
 transform: translate(18px,0) rotate(-45deg) ;
}
.pricing .pricing-container .box:hover h4::after {
  background-color: #f1f1f1;
}
.pricing .pricing-container .box img{
  width: 80px;
  margin-bottom: 30px;
  z-index: 5;
}
.pricing .pricing-container .box h2{
  font-size: 55px;
  font-weight: bold;
  color: var(--main-color);
  padding: 5px;
  z-index: 5;
}
.pricing .pricing-container .box p{
  color: #777;
  margin-bottom: 15px;
  z-index: 5;
  z-index: 5;
}
.pricing .pricing-container .box ul{
  width: 100%;
}
.pricing .pricing-container .box ul li{
  padding: 20px 40px;
  font-size: 16px;
  position: relative;
}
.pricing .pricing-container .box ul li::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: #e5e5e5;
}
.pricing .pricing-container .box a{
  margin-top: 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
  padding: 15px 20px;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  transition: 0.3s;
  z-index: 5;
}
.pricing .pricing-container .box a:hover {
  background-color: var(--main-color);
  color: white;
}
/* End Pricing */
/* Start top videos */
.videos .videos-container {
  display: flex;
}
@media (max-width:991px) {
  .videos .videos-container {
    flex-direction: column;
  }
}
.videos .videos-container .headers{
  border: 1px solid #d6d6d6;
}
.videos .videos-container .headers ul li{
  padding: 20px 20px;
  position: relative;
}
.videos .videos-container .headers ul li:not(.head)::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d6d6d6;
  top: 0;
  left: 0;
}
.videos .videos-container .headers ul li:not(.head):hover {
  background-color: var(--background-color);
  color: var(--main-color);
  cursor: pointer;
}
.videos .videos-container .headers ul li span{
  display: block;
  color: #777;
  padding: 10px 0 0;
}
.videos .videos-container .headers ul .head{
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
}
.videos .videos-container .preview{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--background-color);
  flex: 1;
}
.videos .videos-container .preview img{
  max-width: 100%;
}
@media (max-width:991px) {
  .videos .videos-container .preview img {
    margin-bottom: 10px;
  }
}
.videos .videos-container .preview p{
  background-color: white;
  padding: 20px;
}
/* End top videos */
/* Start Statues */
.statues {
  background-color: var(--background-color);
  background-image: url("../sources/stats.jpg");
  position: relative;
}
.statues::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  opacity: 0.95;
  top: 0;
  left: 0;
  z-index: 5;
}
.statues .container {
  position: relative;
  z-index: 10;
}
.statues .container > h2{
  text-align: center;
  font-size: 40px;
  margin-bottom: 70px;
}
.statues .statues-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.statues .statues-container .box{
  background-color: white;
  text-align: center;
  padding: 25px;
  width: calc(25% - 20px);
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
.statues .statues-container .box::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: var(--main-color);
  bottom: -100%;;
  left: 0;
  transition: 0.3s;
}
.statues .statues-container .box::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: var(--main-color);
  top: -100%;
  right: 0;
  transition: 0.3s;
}
.statues .statues-container .box:hover::before {
  bottom: 0;
}
.statues .statues-container .box:hover::after {
  top: 0;
}
@media (max-width: 767px) {
  .statues .statues-container .box {
    width: calc(50% - 7.5px);
  }
}
@media (max-width: 576px) {
  .statues .statues-container .box {
    width: 100%;
  }
}
.statues .statues-container .box i{
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: bold;
}
.statues .statues-container .box h2{
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: bold;
}
.statues .statues-container .box p{
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
  font-style: italic;
}
/* End Statues */